<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>NLP</title>
</head>

<body>

    <h1>
        Evaluate News
    </h1> <br></br>
    <main>
        <section>
            <p><strong>
                    Analyse Text or a URL.
                </strong></p>
        </section>
        <section>
            <form class="" onsubmit="return Client.handleSubmit(event)">
                <input id="name" type="text" name="input" value="" placeholder="Enter text or URL here">
                <input type="submit" name="" value="submit">
            </form>
        </section>

        <section>
            <ul>
                <li>
                    <strong>Results from URL: </strong>
                    <div id="formResults"></div><br></br>
                </li>
                <li>
                    <strong>Text entered:</strong>
                    <div class="output" id="results"></div><br></br>
                </li>
                <li>
                    <strong>Polarity:</strong>
                    <div class="output" id="polarity"></div><br></br>
                </li>
                <li>
                    <strong>Subjectivity Confidence </strong>
                    <div class="output" id=subjectivity_confidence></div><br><br>
                </li>
                <li>
                    <strong>Subjectivity:</strong>
                    <div class="output" id="subjectivity"></div><br><br>
                </li>
                <li>
                    <div id="errorMessage"></div>
                    <div id="noErrorMessage"></div>
                </li>
            </ul>

        </section>
    </main>

    <footer>
        <p>Made with ❤️</p>
    </footer>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js').then(function (registration) {
                });
            });
        };       
    </script>
</body>

</html>